{% extends 'base.jinja2' %}

{% set nav_links = "active" %}

{% block title %}links{% endblock title %}
{% block body %}

<h1>Links</h1>
{% for item in items %}
<div class="card my-3">
  <div class="card-body bg-light">
    <h5 class="card-title text-primary"><a href="{{ item.link }}">{{ item.title }}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ item.link }}</h6>
    <p class="card-text">{{ item.description|safe }}</p>
    <a href="{{ item.shaarli }}" class="card-link text-info">{{ shaarlis[item.shaarli] }}</a>
    <p class="float-right my-0">{{ item.pubdate }}</p>
  </div>
</div>
{% endfor %}

{% if pages != 0 %}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if page == 0 %}disabled{% endif %}">
      <a class="page-link" href="/" tabindex="-1" aria-disabled="true">&laquo;&laquo;</a>
    </li>
    <li class="page-item {% if page == 0 %}disabled{% endif %}">
      <a class="page-link" href="/{{ page - 1 }}/" tabindex="-1" aria-disabled="true">&laquo;</a>
    </li>
    <li class="page-item {% if page == pages - 1%}disabled{% endif %}">
      <a class="page-link" href="/{{ page + 1 }}/">&raquo;</a>
    </li>
    <li class="page-item {% if page == pages - 1%}disabled{% endif %}">
      <a class="page-link" href="/{{ pages - 1 }}/">&raquo;&raquo;</a>
    </li>
  </ul>
</nav>
{% endif %}

{% endblock body %}
