{% extends 'base.jinja2' %}

{% set nav_shaarlis = "active" %}

{% block title %}shaarlis{% endblock title %}
{% block body %}

<h1>Shaarlis</h1>
{% for shaarli in shaarlis %}
<div class="card my-3">
  <div class="card-body bg-light">
    <h5 class="card-title text-primary"><a href="{{ shaarli.url }}">{{ shaarli.title }}</a></h5>
    <p class="card-text">{{ shaarli.items }} links</p>
  </div>
</div>
{% endfor %}

{% endblock body %}
